<nav>
  <a routerLink="/intro" routerLinkActive="active">Intro</a>
  <a routerLink="/creation-operators" routerLinkActive="active">Creation Operators</a>
  <a routerLink="/combination-operators" routerLinkActive="active">Combination Operators</a>
  <a routerLink="/higher-order-operators" routerLinkActive="active">Higher-order Operators</a>
</nav>
<h1>Fun with RxJS</h1>
<p>from: <a href="https://www.learnrxjs.io/learn-rxjs/concepts/rxjs-primer" target="_blank">RxJS Primer</a></p>
<p>from: <a href="https://rxjs.dev/guide/operators" target="_blank">RxJS Guide - Operators</a></p>
<p>Hint: <strong>Open the console to see results.</strong></p>
<hr>
<router-outlet></router-outlet>